@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

.search {
    bottom: -200px;
    left: 100px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}

.col-md-9 {
    margin-top: 270px;
    margin-left: 100px;
}

#result_img {
    height: 200px;
}

.image {
    /* margin: 0 auto 5px */
    position: absolute;
    right: 300px;
    left: 10px;
    width: 300px;
    /* left: 400px; */
    /* text-align: center; */
}

.table {
    position: absolute;
    right: 800px;
    left: 350px;
    bottom: 150px;
    /* width: 400px; */
}